@import "non-responsive";
@import "variables";
@import "layout";
@import "header";
@import "device";
@import "text-editor";
@import "tabs";
@import "lock";

body {
  background-color: #F9F9F9;
  font-family: 'helvetica neue', arial, sans-serif;
}

.modal-content {
    margin-top: 102px;
}
